
.feature-box {
  background-color: #f8f9fa;
  transition: 0.3s; /* smooth hover effect */
  min-height: 250px; /* This makes the div larger vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-box:hover {
  background-color: #e2e6ea;
  transform: translateY(-5px); /* small lift effect */
}
